setuptools
matplotlib>=1.0.0
numpy>=1.20.0
pep8>=0.6
scipy>=1.2.0
pytest>=4
pytest-flake8
flake8
netCDF4>=1.5.3
SurfaceTopography>=0.91.2
muFFT>=0.11.1
ContactMechanics
git+ssh://git@github.com/ComputationalMechanics/Adhesion.git
sphinx>=1.8.2
sphinx_rtd_theme
